In [ ]:
import numpy as np

1. Crie um vetor numpy com os números pares de 1 a 20. Dica: use np.arange()

In [ ]:
vetor = np.arange(2,21,2)
print(vetor)

[ 2  4  6  8 10 12 14 16 18 20]

2. Crie uma matriz numpy 3x3 com valores aleatórios entre 0 e 10. Dica: use
np.random.rand()

In [ ]:
mat = np.random.randint(low = 1, high = 10, size = (3,3))
print(mat)

[[3 1 7]
 [4 4 3]
 [9 8 7]]

3. Multiplique todos os elementos de um vetor por 2. Use broadcasting para evitar loop.
Exemplo: Seja `vetor = np.array([1, 2, 3, 4])`. O resultado esperado: `array([2, 4, 6, 8])`

In [ ]:
vetor = np.array([1, 2, 3, 4])*2
print(vetor)

[2 4 6 8]

4. Calcule a soma cumulativa de um vetor. Dica: usar np.cumsum()
Exemplo: Seja `vetor = np.array([1, 2, 3, 4])`, o resultado seria `array([ 1, 3, 6, 10])`

In [ ]:
vetor = np.array([1, 2, 3, 4])
cumsum_vetor = np.cumsum(vetor)
print(cumsum_vetor)

[ 1  3  6 10]

5. Transponha uma matriz.
Exemplo: Seja `matriz = np.array([[1, 2], [3, 4], [5, 6]])`, o resultado seria `array([[1, 3,
5], [2, 4, 6]])`

In [ ]:
matriz = np.array([[1, 2], [3, 4], [5, 6]])
print(matriz)
print()
transpose = np.transpose(matriz)
print(transpose)

[[1 2]
 [3 4]
 [5 6]]

[[1 3 5]
 [2 4 6]]

6. Converta uma matriz em um vetor unidimensional.
Exemplo: Seja `matriz = np.array([[1, 2, 3], [4, 5, 6]])`, o resultado seria `array([1, 2, 3,
4, 5, 6])`

In [ ]:
matriz = np.array([[1, 2, 3], [4, 5, 6]])
matrizuni = np.ravel(matriz)
print(np.reshape(matriz, -1))
print()
print(matrizuni)

[1 2 3 4 5 6]

[1 2 3 4 5 6]

7. Multiplicação matricial: multiplique uma matriz (m × n) por um vetor (n × 1).
Exemplo: Seja matriz = np.array([[1, 2], [3, 4]]) e vetor = np.array([[5], [6]])`, o
resultado seria array([[17], [39]])

In [ ]:
matriz = np.array([[1, 2], [3, 4]])
vetor = np.array([[5], [6]])

result = np.dot(matriz, vetor)
print(result)

[[17]
 [39]]

8. Encontre os índices dos valores máximos em cada linha de uma matriz. Dica: use
np.argmax(). Exemplo: Seja `matriz = np.array([[1, 9, 6], [8, 2, 3], [4, 7, 5]])`, o resultado
seria `array([1, 0, 1])`

In [ ]:
matriz = np.array([[1, 9, 6], [8, 2, 3], [4, 7, 5]])
max = np.argmax(matriz, axis = 1)
print(max)

[1 0 1]

9. Calcule a raiz quadrada de todos os elementos de um vetor.
Exemplo: Seja `vetor = np.array([4, 9, 16, 25])`, o resultado seria `array([2., 3., 4., 5.])`

In [ ]:
vetor = np.array([4, 9, 16, 25])
vetorRaiz = np.sqrt(vetor) #sqrt square root, raiz quadrada
print(vetorRaiz)

[2. 3. 4. 5.]

10. Substitua todos os valores negativos em um vetor por 0. Exemplo: Seja `vetor =
np.array([-1, 2, -3, 4, -5])`, o resultado seria `array([0, 2, 0, 4, 0])`

In [ ]:
vetor = np.array([-1, 2, -3, 4, -5])
vetor[vetor < 0] = 0
print(vetor)

[0 2 0 4 0]

11. Reshape um vetor unidimensional em uma matriz 3x3. Exemplo: Seja `vetor =
np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])`, o resultado seria `array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])`

In [ ]:
vetor = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
vetor.reshape(3, 3)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

12. Adicione um valor constante a todos os elementos de um vetor.
Exemplo: Seja `vetor = np.array([1, 2, 3, 4])` e `constante = 5`, o resultado seria
`array([6, 7, 8, 9])`

In [ ]:
vetor = np.array([1, 2, 3, 4])
vetor += 5
print(vetor)

[6 7 8 9]

13. Determine uma constante que ao multiplicar todos os elementos de uma matriz por
essa constante, a soma dos elementos da matriz resultante será 1. Não usar loops.
Exemplo: Seja `matriz = np.array([[1, 2], [3, 4]])`, o resultado seria `array([[0.1, 0.2], [0.3,0.4]])`, pois 0.1+0.2+0.3+0.4 = 1.

In [ ]:
matriz = np.array([[1, 2], [3, 4]])
const = 1/np.sum(matriz)
print(const)
matriz * const

0.1

array([[0.1, 0.2],
       [0.3, 0.4]])

14. Gere uma matriz identidade 3x3. Dica: use np.eye()

In [ ]:
identidade = np.eye(3)

15. Concatene duas matrizes horizontalmente. Dica: use np.hstack()
Exemplo:

![image.png]()

In [ ]:
matriz1 = np.array([[1,2,3],[4,5,6]])
matriz2 = np.array([[7, 8, 9],[10, 11, 12]])
conc = np.hstack((matriz1, matriz2))
print(conc)

[[ 1  2  3  7  8  9]
 [ 4  5  6 10 11 12]]

16. Encontre o produto escalar entre os vetores [1, 2, 3] e [4, 5, 6]. Dica: use np.dot() e
também o operador @ para conferir o outro resultado

In [ ]:
v1 = np.array([1,2,3])
v2 = np.array([4,5,6])
print(f'Usando np.dot(): {np.dot(v1, v2)}')
print(f'Usando @: {v1@v2}')

Usando np.dot(): 32
Usando @: 32

17. Calcule a média e o desvio padrão de cada linha de uma matriz. Dica: use np.mean() e
np.std(). Exemplo: `matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])`. O resultado deve ser:
média por linha: [2. 5. 8.], desvio padrão por linha: [0.8165, 0.8165, 0.8165]

In [ ]:
matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
media = np.mean(matriz, axis=1) #axis 0 = coluna (y); axis 1 = linha (x)
desvio = np.std(matriz, axis=1)
print(f'Media: {media}\nDesvio: {desvio}')

Media: [2. 5. 8.]
Desvio: [0.81649658 0.81649658 0.81649658]

18. Calcule a média e o desvio padrão de cada coluna de uma matriz. Dica: use np.mean()
e np.std(). Exemplo: matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]). O resultado deve ser:
média por coluna: [4. 5. 6.], desvio padrão por coluna: [2.4495, 2.4495, 2.4495]

In [ ]:
matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
media = np.mean(matriz, axis=0) #axis 0 = coluna (y); axis 1 = linha (x)
desvio = np.std(matriz, axis=0)
print(f'Media: {media}\nDesvio: {desvio}')

Media: [4. 5. 6.]
Desvio: [2.44948974 2.44948974 2.44948974]

19. Calcule a média de cada coluna de uma matriz e a subtraia da respectiva coluna.
Exemplo: Seja `matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])`, o resultado seria
`array([[-3., -3., -3.], [ 0., 0., 0.], [ 3., 3., 3.]])`. Use broadcasting para evitar loops

In [ ]:
matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
media = np.mean(matriz, axis=0)
np.subtract(matriz, media)

array([[-3., -3., -3.],
       [ 0.,  0.,  0.],
       [ 3.,  3.,  3.]])

20. Calcule a média de cada linha de uma matriz e a subtraia da respectiva linha. Exemplo:
Seja `matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])`, o resultado seria `array([[-1., 0., 1.],
[-1., 0., 1.], [-1., 0., 1.]])`. Use broadcasting para evitar loops

In [ ]:
matriz = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
media = np.mean(matriz, axis=1).reshape(3,1)
np.subtract(matriz, media)

array([[-1.,  0.,  1.],
       [-1.,  0.,  1.],
       [-1.,  0.,  1.]])

21. Uma operação comum em ciência de dados ou aprendizado de máquina é a normalização dos dados. Os
dados estão dispostos em uma matriz e cada característica de interesse ao longo das colunas. Por exemplo,
uma matriz em que cada linha corresponde a uma pessoa, teremos a coluna das idades, a coluna das
alturas, a coluna da renda mensal, etc. A normalização consiste em, para cada ponto na matriz, subtrair a
média da coluna e dividir pelo desvio padrão da respectiva coluna.
Normalize os dados da seguinte matriz X, onde cada linha corresponde a uma amostra (e.g. pessoa) e cada
coluna corresponde a uma característica dela. Para normalizar os dados, você pode usar broadcasting para
subtrair a média de cada coluna e dividir pelo desvio padrão, evitando a necessidade de loops explícitos.
Dica: use os métodos mean(), std() para os cálculos da média e desvio padrão, respectivamente.

X = [[ 55 1.72 603 ]
[ 54 1.42 646 ]
[ 44 1.89 964 ]
[ 38 1.79 529 ]]

Normalização =>

[[ 1.023 0.086 -0.497]
[ 0.882 -1.626 -0.238]
[-0.529 1.055 1.676]
[-1.376 0.485 -0.942]]

In [ ]:
X = np.array([[ 55, 1.72, 603 ], [ 54, 1.42, 646 ], [ 44, 1.89, 964 ], [ 38, 1.79, 529 ]])
media = np.mean(X, axis=0)
normal = np.subtract(X, media)/np.std(X, axis=0)
print(normal)

[[ 1.02338778  0.08557469 -0.49654442]
 [ 0.88223084 -1.62591903 -0.23773945]
 [-0.5293385   1.05542112  1.67621359]
 [-1.37628011  0.48492322 -0.94192972]]

22. Encontre a solução para o seguinte problema. Arredondar todos os valores em uma
matriz para o inteiro mais próximo. Dica: analise np.floor(), np.ceil(), np.fix() e np.round()
Exemplo:

In [ ]:
v = np.array([[1.2, 2.8, 3.5], [4.9, 5.1, 6.7], [7.3, 8.6, 9.2]])
np.floor(v) #arredonda para o menor inteiro mais próximo
np.ceil(v) #arredonda para cima
np.fix(v) #semelhante ao floor quando usado para números negativos. Arredondará para zero os decimais.
np.round(v) #É realmente o inteiro mais próximo. >= 0.5 arrendonda pra cima.

array([[1., 3., 4.],
       [5., 5., 7.],
       [7., 9., 9.]])

23. Dada a matriz A, encontre sua inversa A-¹. Então, conprove que AA−¹ = I, onde I é a matriz identidade, com elementos da diagonal unitários e o restante zero.

In [ ]:
A = np.array([[1, 3, 2],
              [5, 4, 6],
              [7, 8, 9]])
Ainv = np.linalg.inv(A)
identidade = np.dot(A, Ainv)
np.round(identidade) #usando o fix estava dando alguns erros, é melhor ir no round

array([[ 1.,  0.,  0.],
       [-0.,  1., -0.],
       [ 0.,  0.,  1.]])

24. Suponha que você seja um corretor imobiliário e deseja prever o preço de uma casa com base em diferentes
características, como área construída, número de quartos, número de banheiros e idade da casa. Você coletou
dados de venda de casas nos últimos seis meses e registrou essas características para cada venda.
Os dados coletados estão disponíveis na forma de uma matriz, onde cada linha representa uma casa vendida e
cada coluna representa uma característica. Além disso, você tem um vetor com os preços de venda
correspondentes das casas.
Tarefa:
Encontrar os coeficientes ideais que relacionam as características das casas com
os preços de venda. Em seguida, preveja o preço de uma nova casa com as
seguintes características:
• Área construída: 180 metros quadrados
• Número de quartos: 3
• Número de banheiros: 2
• Idade da casa: 5 anos

In [ ]:
dados = np.array([[150, 200, 180, 170, 220, 190],
                  [3, 4, 3, 2, 4, 3],
                  [2, 3, 2, 1, 3, 2],
                  [5, 7, 10, 3, 8, 6]]).T
vendas = np.array([190000, 255000, 170000, 195000, 265000, 220000])
X, residuals, _, _ = np.linalg.lstsq(dados, vendas, rcond=None)
novaCasa = np.array([[180, 3, 1, 5]])
preco = novaCasa@X
print(f'Preço da nova casa = R${preco[0]:.0f}')

Preço da nova casa = R$205000